body{
    padding: 0;
    margin:0;
}

header{
    font-family: 'Nunito', sans-serif;
    box-shadow: 5px 5px 5px rgb(187, 206, 206);
    background: linear-gradient(to right,#e55d87,#5fc3e4);
    
}
.center {
    text-align: center;
    line-height: 0.5em;
    padding-bottom:10px;
}

.container{
    width:100%;
    display:flex;
    background: linear-gradient(#e55d87,#5fc3e4);
    margin-top:10px;
    font-family: 'Comfortaa', cursive;
    line-height: 2em;
}
.header-head{
    margin-top:0px;
    padding-top:15px;
}

.image{
    display: inline-block;
}

.main{
    margin-top:10px;
    padding: 0px 10px 10px 30px;
    display: inline-block;
    width:60%;
}

.pitch{
    margin-top:10px;
    padding-top:10px;
}

.img{
    
    display: inline-block;
    margin-top:100px;
    margin-left:100px;
}

.bold{
    font-weight: bold;
}

.formdiv{
    display:inline-block;
    width:40%;
}

.form-head{
    text-align:center;
}

.form{
    margin-left: 100px;
    margin-bottom:30px;
}

input[type=text], input[type=password], input[type=email], textarea {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width:80%;
    border-radius: 5px;
  }

  #button{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width:80%;
    background-color: #e797b1;
  }

.err{
    width:80%;
    color:white;
    background-color:red;
    border-radius: 5px;
}